.hidden {
    display: none;
}

.avoid-clicks {
    position: relative;
    opacity: 0.3;
}

.avoid-clicks::after {
    display: block;
    content: '';
    position: absolute;
    z-index: 9000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    cursor: not-allowed;
}
